# Configuration for /etc/init.d/selenium
# {{ ansible_managed }}

# Path to selenium JAR
SELENIUM_LIB="{{ selenium_server_path }}/{{ selenium_jar_file }}"

# Selenium port default: 4444
SELENIUM_PORT="{{ selenium_port }}"

# Selenium user default: selenium
SELENIUM_USER="{{ selenium_user }}"

# Selenium log dir default: /var/log/selenium
SELENIUM_LOGDIR="{{ selenium_log_dir }}"

# X display port default: :99
X_DISPLAY=":99"
